<div class="bg-white text-emerald-950 my-2 p-2 rounded">
  <h2 class="text-xl">
    <%= flat.name %>
  </h2>
  <p class="">
    <%= flat.address %>
  </p>
  <% flat.invited_users.each do |user| %>
    <%= user.email %>
  <% end %>
  <div class="flex justify-end">
    <%= link_to "see more", flat_path(flat), class: "text-white bg-emerald-600 py-1 px-4 rounded ml-2", data: {turbo_frame: '_top'} %>
  </div>
</div>
