<% if notice %>
  <p class="notice p-1 bg-white text-emerald-500 w-max m-2 text-sm"><%= notice %></p>
<% elsif alert %>
  <p class="alert p-1 bg-white text-red-500 w-max m-2 text-sm"><%= alert %></p>
<% end %>
