<div>
  <h1 class="font-bold text-4xl text-white">Welcome to <span class="undeline offset-2">Pick Me 👋</span></h1>
  <div class="flex mt-4">
    <p class="text-white">
      <%= link_to 'sign in', new_user_session_path, class:"text-emerald-100 bg-emerald-800 px-4 py-1 rounded-full"  %>
      or
      <%= link_to 'sign up', new_user_registration_path, class:"text-white underline offset-2"  %>
      to start picking items for your flat !
    </p>
  </div>
</div>
